@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-dots {
        background-image: radial-gradient(#E53935 1px, transparent 1px);
        background-size: 24px 24px;
        background-color: #ffffff;
    }
}
